.cardfront {
  background: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 5px 15px 0px;
  border-radius: 4px;
  border: 1px solid black;
  min-width: 28%;
  max-width: 28%;
  height: 150px;
  padding: 8px;
  border: dotted black 3px;
}

.cardfront:hover {
  border: solid 3px #F52887;
}

.cardback {
  background: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 5px 15px 0px;
  border-radius: 4px;
  border: 1px solid black;
  min-width: 28%;
  max-width: 28%;
  height: 150px;
  padding: 8px;
  border: dotted black 3px;
}

.cardback:hover {
  border: solid 3px #F52887;
}