.notecards {
    padding: 1px;
    border-radius: 4px;
    
}

.words {
    min-height: 40px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    flex-wrap: wrap;
}